<ol>
    <% @comments.each do |comment| %>
        <li>
            <h4> Comment: <%= comment.entry %> </h4>
            Created at: <%= comment.created_at %> ||
            Updated at: <%= comment.updated_at %></br>
            <% if current_user.id == comment.guest_id %>
                <%= link_to "Edit Comment", edit_comment_path(comment) %> ||
                <%= link_to "Delete Comment", comment_path(comment), method: 'DELETE' %></br>
            <% end %>
        </li>
    <% end %>
</ol>