<% if @board %>
    <h1> All Comments on *<%= @board.title %>* board </h1></br></br>
    <%= link_to "Add a New Comment", new_board_comment_path(@board) %>
    <%= render partial: 'comments', collection: @comments %>
<% else %>
    <h1> All Comments by <%= @guest.username %> </h1>
    <%= render partial: 'comments', collection: @comments %>
<% end %>