<h3>Edit <%= @booking.name %></h3>

<%= form_for @booking do |f| %>

    <%= f.label :name, "Booking Name:" %>
    <%= f.text_field :name %></br></br>
    <%= f.hidden_field :board_id, :value => @booking.room_id %>
    <%= f.hidden_field :guest_id, :value => @booking.guest_id %>

    <%= f.submit %>

<% end %>