<h1> <%= @board.title %> </h1>

<%= link_to "Add a New Comment", new_board_comment_path(@board) %>

<% if @board.comments %>
    <ol>
        <% @board.comments.each do |comment| %>
            <li>
                Room board belongs to: <%= @board.room.number %>
                Guest: <%= comment.guest_id %>    
                <h4><%= comment.entry %> </h4>
                Created at: <%= comment.created_at %> ||
                Updated at: <%= comment.updated_at %></br>
                <% if current_user.id == comment.guest_id %>
                    <%= link_to "Edit Comment", edit_comment_path(comment) %> ||
                    <%= link_to "Delete Comment", comment_path(comment), method: 'DELETE' %>
                <% end %>
            </li></br>
        <% end %>
    </ol>
<% end %>