<h1>Book a Room</h1>

<%= form_for @room do |f| %>

    <%= f.label :note, "Front Door Note:" %>
    <%= f.text_field :note %></br>

    <%= f.label :haunting, "Haunting inside:" %>
    <%= f.text_field :haunting %></br>

    <%= f.label :do_not_disturb, "Private?" %></br>
    <%= f.radio_button :do_not_disturb, true %> Yes <br />
    <%= f.radio_button :do_not_disturb, false , checked: true %> No <br />

    <%= f.fields_for :bookings do |booking| %>

        <%= booking.label :name, "Booking Name:" %>
        <%= booking.text_field :name %></br>
     
      <% end %>

    <%= f.submit "Book Room" %>

<% end %>

