</br>
Room Number <%= @room.number %> || 
Do Not Disturb? <%= @room.do_not_disturb %></br>
<p> Note on Room Door: </p>
<%= @room.note %></br></br>
<p> Room Haunting: </p>
<%= @room.haunting %></br></br>


<%= link_to "Message Board", new_board_comment_path(@board) %>