<!DOCTYPE html>
<html>
<head>
  <title>Haunted Hallows Hotel</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <% if !current_user %>
      <h1>Welcome to Haunted Hallows Hotel</h1>
      <%= link_to "Log In", "/login" %> ||
      <%= link_to "Register", "/guests/new" %></br>
    <% else %>
      <h1><%= current_user.username %> || Haunted Hallows Hotel</h1>
      <%= link_to "Book a Room", "/rooms/new" %> ||
      <%= link_to "Explore the Hotel", "/rooms" %> ||
      <%= link_to "Control Panel", guest_path(current_user) %> ||
      <%= link_to "Log out", "/logout" %></br>
    <% end %>
    <%= yield %>    
</body>
</html>