<!DOCTYPE html>
<html>
<head>
  <title>Haunted Hallows Hotel</title>
</head>
<body>
    <h1>Welcome to Haunted Hallows Hotel</h1>
    <%= link_to "Log In", "/login" %> ||
    <%= link_to "Register", "/guests/new" %> ||
    <%= link_to "Book a Room", "/rooms/new" %> ||
    <%= link_to "Explore the Hotel", "/rooms" %> ||
    <%= link_to "Log out", "/logout" %></br>
    <%= yield %>    
</body>
</html>